body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#nav{
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-title{
    width: 4%;
    height: 70px auto;
    margin-bottom: 70px;
    margin-left: 15%;
    color: whitesmoke;
}

#nav-links{
    width: 70%;
    height: 70%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.active{
    color: whitesmoke;
    text-decoration: none;
}

.active1{
    color: rgb(202, 202, 202);
    text-decoration: none;
    margin: 10px;
}

.btnBox{
    width: 55%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.btn{
    height: 70% auto;
    width: 10% auto;
    color: whitesmoke;
    background-color: turquoise;
    box-shadow: 3px 3px 3px black;
}

#innerBody{
    height: 800px;
    width: 70%;
    background-color: chocolate;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}



ul{
    height: 30px;
    width: 50%;
    color: #333333;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}

li{
    height: 0 auto;
    width: auto;
    padding: 5px;
    list-style: none;
}

#leftBody{
    width: 60%;
    background-color: burlywood;

}

#card{
    width: 70% auto;
    height: 275px;
    background-color: whitesmoke;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#topBar{
    width: 100%;
    height: 25%;
    background-color: rgb(55, 55, 192);
}

.leftSide{
    width: 100%;
    height: 75% auto;

}

.userCircle{
    width: 80px;
    height: 80px;
    border: 2px solid grey;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 40%;
    border: transparent;
}

h1{
    color: black;
    width: 100%;
    position: relative;
    top: 20px;
    margin-left: 20px;
}

h2{
    font-size: 20px;
    width: 75%;
    margin-left: 20px;
}

#mapMarker{
    width: 10px;
    height: 15px;
    position: static;
    border: 1px solid cornsilk;
}

p{
    font-size: 13px;
    width: 60%;
    height: 0 auto;
    margin-left: 20px;
}

.settings{
    margin-left: 20px;
}

.settings > img{
    position: static;
    width: 12px;
    height: 12px;
    border: 1px solid cornsilk;
}

.edu{
    height: 400px;
    width: 70% auto;
    background-color: lavenderblush;
    border: 1px solid black;
    margin: 50px;
}

.eduTitle{
    width: auto;
    height: 40px;
    font-size: 20px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
}

.text{
    margin-left: 20px;
}

#connections{
    width: 40%;
    height: 700px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.rightTop{
    width: 50%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.rightBottom{
    width: 50%;
    height: 400px;
}

.pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.title{
    width: 100%;
    height: 40px;
    background-color: darkgrey;
    display: inline-flex;
    text-align: center;

}

.outer{
    width: 60%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;

}

.names{
    height: 20px;
    width: 20px;
    flex-flow: row;
}


span{
    height: 20px;
;
    border-radius: 20%;
}