*{
    font-family: cursive;
}

#container{
    width: 400px;
    height: 150px;
    border: 2px solid black;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.top{
    height: 45%auto;
    width: 100% auto;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    height: 50%;
    align-self: flex-start;
}

.likes{
    height: 50%;
    width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    text-align: center;
    align-self: center;
}

#btn{
    height: 30px;
    width: 50px;
    background-color: #ffd966;
    align-self: center;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}

.bottomText{
    height: 50%;
    width: 100% auto;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    align-self: center;
}